.co{
	width: 35vw;
	height: 60vh;
}

@media screen and (max-width: 600px) { 
	.co{
		width: 85%;
		height: 25%;
	}
  .ann { 
    width: 25%;
    height: 25%;
    font-size: 10px;
    box-sizing: border-box;
  } 

} 